@model SmartMarket.BLL.ViewModels.CreateBalanceModel

<div class="modal-content">
    <span class="close">&times;</span>
    @using (Ajax.BeginForm("CreateBalance", "Private", new AjaxOptions { UpdateTargetId = "id" }))
    {
        <input id="UserID" name="UserID" type="hidden" value="@Model.UserID">
        <br>
        <div class="profile-container-wrapper ">
            <div class="profile-item">
                <div class="profile-label">
                    @Html.LabelFor(model => model.CardNumber)
                </div>
                <div class="profile-textbox">
                    @*@Html.TextBoxFor(model => model.CardNumber, new { @class = "text-box single-line" })*@
                    <input id="cc" name="CardNumber" type="text" data-inputmask="'mask': '9999-9999-9999-9999'" class="text-box single-line" value="4149-4978-4797-3767">
                </div>
            </div>
        </div>

        <div class="profile-container-wrapper">
            <div class="profile-item">
                <div class="profile-label">
                    @Html.LabelFor(model => model.Country)
                </div>
                <div class="profile-textbox">
                    @Html.DropDownListFor(model => model.Country, Model.Countries, new { @class = "text-box single-line" })
                </div>
            </div>
            
        </div>
        <div class="profile-container-wrapper">
            <input type="submit" id="attachCardButton" value="@Model.SubmitTextButton" class="attach-button">
        </div>
        <div class="profile-container-wrapper">
            <div class="profile-item">
                <div class="profile-label">
                    @Html.ValidationSummary()
                </div>
            </div>
        </div>
    }

</div>


