<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <aside class="sidenav hide-menu">
        <div class="menu-header">
            <a href="#">
                <span>SMART</span>
                <img class="logo" src="~/Content/Images/lightbulb.png" />
            </a>
        </div>
        <div class="menu-content">
            <ul>
                <li class="non-active-item">
                    <a href="">Markets</a>
                </li>
                <li class="non-active-item">
                    <a href="">Instructions</a>
                </li>
                <li class="non-active-item">
                    <a href="">Analogs</a>
                </li>
                <li class="non-active-item">
                    <a href="">Innovation</a>
                </li>
            </ul>
        </div>    
    </aside> 
    <div onclick="openNav()" class="menu-open-close">
        <span class="menu-global menu-top"></span>
        <span class="menu-global menu-middle"></span>
        <span class="menu-global menu-bottom"></span>
    </div>

        @RenderBody()
        

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
