<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <aside class="sidenav hide-menu z-high">
        <div class="menu-header">
            <a href="#">
                <span>SMART</span>
                <img class="logo" src="~/Content/Images/lightbulb.png" />
            </a>
        </div>
        @if (User.Identity.IsAuthenticated)
        {
            <div class="user-bar">
                <span>Pavel Kokorin</span>
                <a id="profile-icon" title="Profile" href="~/Profile/Edit"></a>
                <a id="logout-icon" title="Log out" href="~/Account/Logout"></a>
            </div>
        }
        
        <div class="menu-content">
            <ul>
                <li class="non-active-item">
                    <a href="">Item 1</a>
                </li>
                <li class="non-active-item">
                    <a href="">Item 2</a>
                </li>
                <li class="non-active-item">
                    <a href="">Item 3</a>
                </li>
                <li class="non-active-item">
                    <a href="">Item 4</a>
                </li>
            </ul>
        </div>    
    </aside> 
    <header class="header z-middle">
        <span class="page-title head-title">
            @ViewBag.Path
        </span>
    </header>
    <div onclick="openNav()" class="menu-open-close z-highest">
        <span class="menu-global menu-top"></span>
        <span class="menu-global menu-middle"></span>
        <span class="menu-global menu-bottom"></span>
    </div>

    <div class="main-container">
        @RenderBody()
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
