@using SmartMarket.BLL.ViewModels
@model LayoutModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @if (Model.StatusMessage != null)
    {
        <div class="status-message z-highest">
            <div id="done_icon"></div>@Model.StatusMessage
        </div>
    }
    <div id="detach-modal" class="modal z-most-highest">
        @Html.Partial("~/Views/Partial/_DetachBalance.cshtml", new DetachBalanceModel())
    </div>
    <div id="attach-modal" class="modal z-most-highest">
        @Html.Partial("~/Views/Partial/_AttachBalance.cshtml", new AttachBalanceModel() { UserID = Model.UserID })
    </div>

    <aside class="sidenav hide-menu z-high">
        <div class="menu-header">
            <div class="logo">
                <a href="#">
                    <img src="~/Content/Images/Logo.jpg" />
                </a>
            </div>
            <div class="bulb">
                <a href="#">
                    <img src="~/Content/Images/lightbulb.png" />
                </a>
            </div>
        </div>
        @if (User.Identity.IsAuthenticated)
        {
            <div class="user-bar">
                <span>@Model.Name @Model.LastName</span>
                <a id="attach-balance-icon" title="Attach card" href="#"></a>
                <a id="profile-icon" title="Profile" href="~/Profile/Edit"></a>
                <a id="logout-icon" title="Log out" href="~/Account/Logout"></a>
            </div>
            if (Model.BalanceModels != null && Model.BalanceModels.Count() != 0)
            {
                @Html.Partial("~/Views/Partial/_Balance.cshtml", Model.BalanceModels)
            }
        }
        
        <div class="menu-content">
            <ul>
                <li class="non-active-item">
                    <a href="">Магазины</a>
                </li>
                <li class="non-active-item">
                    <a href="">Инновации</a>
                </li>
                <li class="non-active-item">
                    <a href="">Обратная связь</a>
                </li>
            </ul>
        </div>    
    </aside> 
    <header class="header z-middle">
        <span class="page-title head-title">
            @ViewBag.Path
        </span>
    </header>
    <div onclick="openNav()" class="menu-open-close z-highest">
        <span class="menu-global menu-top"></span>
        <span class="menu-global menu-middle"></span>
        <span class="menu-global menu-bottom"></span>
    </div>

    <div class="main-container">
        @RenderBody()
    </div>


    
    @Scripts.Render("~/bundles/jquery")
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/jquery.inputmask.bundle.js"></script>
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/script")
    
    @RenderSection("scripts", required: false)
</body>
</html>
