@using SmartMarket.BLL.ViewModels
@model IndexModel

@{ 
    ViewBag.Title = "SMART MARKET";
    var loginModel = Model.LoginModel ?? new LoginModel();
    var registryModel = Model.RegistryModel ?? new RegistryModel();
}

<div id="first-row" class="row">
    <div id="first-first" >
        <div class="absolute right-bottom">
            <img class="main-img" src="~/Content/Images/01.jpg" />
        </div>
    </div>
    
        <div id="first-second">
            <div class="absolute left-bottom social-block">
                @if (!User.Identity.IsAuthenticated)
                {
                    <div class="authMessage">@Model.PleaseAutorize</div>
                    <div class="icons-block">
                        <a class="auth-img vk" href="/OAuth/LogOn?socialNetworksProvider=Vkontakte" title="Sign In to SMART MARKET through Vkontakte"></a>

                        <a class="auth-img fb" href="/OAuth/LogOn?socialNetworksProvider=Facebook" title="Sign In to SMART MARKET through Facebook"></a>

                        <a class="auth-img ld" href="/OAuth/LogOn?socialNetworksProvider=Linkedin" title="Sign In to SMART MARKET through LinkedIn"></a>
                    </div>
                }
                else
                {
                    <div class="authMessage">@Model.Authorized</div>
                }
            </div>
        </div>
    
    
</div>

@if (!User.Identity.IsAuthenticated)
{
    <div id="second-row" class="row">
        <div id="second-first">
            <div class="absolute left-top">
                <div id="login-block" class="z-lowest">
                    @Html.Partial("~/Views/Partial/Account/_Login.cshtml", loginModel)
                </div>
                <div id="slider" onclick="moveDiv()" class="slider slider-left"></div>
                <div id="registry-block" class="z-lowest">
                    @Html.Partial("~/Views/Partial/Account/_Registry.cshtml", registryModel)
                </div>
            </div>
            <div onclick="moveDiv()" id="description-block" class="absolute right-top z-low">
                <div class="description">
                    <a href="#" class="title">@Model.NureHeader</a>
                    <br>
                    <br>
                    <span>@Model.NureDescription</span>
                    <br>
                    <br>
                    <span>@Model.TechnologiesTittle</span>
                    <ul class="technologies-list">
                        <li>C++</li>
                        <li>.NET</li>
                        <li>Java</li>
                        <li>JavaScript</li>
                        <li>QA/Testing</li>
                    </ul>
                    <span>@Model.NureEnding</span>
                </div>
            </div>
        </div>
    </div>
}
