@using SmartMarket.BLL.ViewModels
@model EditModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.StatusMessage != null)
{
    <div class="status-message">
        <div id="done_icon"></div>@Model.StatusMessage
    </div>
}

<div class="edit-conteiner">
    <form action="~/Profile/Edit" id="profileForm" method="post">
        <input id="ID" name="ID" type="hidden" value="@Model.ID">     
        <br>
        <div class="profile-container-wrapper ">
            <div class="profile-item">
                <div class="profile-label">
                    @Html.LabelFor(model => model.Name)
                </div>
                <div class="profile-textbox">
                    <input class="text-box single-line" id="Name" name="Name" type="text" value="@Model.Name">
                </div>
            </div>
        </div>

        <div class="profile-container-wrapper ">
            <div class="profile-item">
                <div class="profile-label">
                    @Html.LabelFor(model => model.LastName)
                </div>
                <div class="profile-textbox">
                    <input class="text-box single-line" id="LastName" name="LastName" type="text" value="@Model.LastName">
                </div>
            </div>
        </div>

        <div class="profile-container-wrapper ">
            <div class="profile-item">
                <div class="profile-label">
                    @Html.LabelFor(model => model.Email)
                </div>
                <div class="profile-textbox">
                    <input class="text-box single-line" id="Email" name="Email" type="text" value="@Model.Email">
                </div>
            </div>
        </div>

        <div class="profile-container-wrapper">
            <input type="submit" id="submitButton" value="Save" class="submit-button">
        </div>

        <div class="profile-container-wrapper">
            <div class="profile-item">
                <div class="profile-label">
                    @Html.ValidationSummary()
                </div>
            </div>
        </div>
    </form>


</div>
