@using SmartMarket.BLL.ViewModels
@model UserModel

@{
    ViewBag.Path = "PROFILE > Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var EmailConfirmed = (Model.IsEmailConfirmed) ? "True" : "False";
}

<div class="edit-conteiner">
    <form action="~/Profile/Edit" id="profileForm" method="post">
        <input id="ID" name="ID" type="hidden" value="@Model.ID">      
        
        <input id="IsEmailConfirmed" name="IsEmailConfirmed" type="hidden" value="@EmailConfirmed">
        <input id="PasswordHash" name="PasswordHash" type="hidden" value="@Model.PasswordHash">
        <br>
        <div class="profile-container-wrapper ">
            <div class="profile-item">
                <div class="profile-label">
                    NAME*:
                </div>
                <div class="profile-textbox">
                    <input class="text-box single-line" id="Name" name="Name" type="text" value="@Model.Name">
                </div>
            </div>
        </div>

        <div class="profile-container-wrapper ">
            <div class="profile-item">
                <div class="profile-label">
                    LASTNAME*:
                </div>
                <div class="profile-textbox">
                    <input class="text-box single-line" id="LastName" name="LastName" type="text" value="@Model.LastName">
                </div>
            </div>
        </div>

        <div class="profile-container-wrapper ">
            <div class="profile-item">
                <div class="profile-label">
                    EMAIL*:
                </div>
                <div class="profile-textbox">
                    <input class="text-box single-line" id="Email" name="Email" type="text" value="@Model.Email">
                </div>
            </div>
        </div>

        <div class="profile-container-wrapper">
            <div class="profile-item">
                <div class="profile-label">
                    PASSWORD*: <span class="required">*</span>
                </div>
                <div class="profile-textbox">
                    <input class="text-box single-line" data-val="true" id="Password" name="Password" type="password" value="@Model.Password">
                </div>
            </div>
        </div>

        <div class="profile-container-wrapper">
            <input type="submit" id="submitButton" value="Save" class="submit-button">
        </div>
    </form>


</div>
